{% extends "base.html.twig" %}

{% block title %}AppBundle:Game:modifyGame{% endblock %}

{% block body %}
<h1>Welcome to the Game:modifyGame page</h1>
Edytujesz mecz {{game.homeTeam}} vs {{game.awayTeam}}<br>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

    <a href ="{{ path('homepage') }}">wróć do głównej</a>
{% endblock %}
