{% extends "base.html.twig" %}

{% block title %}AppBundle:Game:showAllGames{% endblock %}

{% block body %}
<h1>Welcome to the Game:showAllGames page</h1>
<table border="2" align="center">
<tr>
<th>Gospodarz</th>
<th>Gość</th>
<th>Wynik</th>
<th>Data</th>
<th>Opis</th>
    {%  if is_granted('ROLE_ADMIN') %}<th>edytuj</th><th>usuń</th>{% endif %}
</tr>
{%for game in allGames%}
<tr align="center">
<td>{{game.homeTeam}}</td>
<td> {{game.awayTeam}}</td>
<td> {{game.scoreHome}} : {{game.scoreAway}} </td>
<td>{{ game.date|date('H:i d-m-Y') }}</td>
<td>{{game.description}}</td>
    {%  if is_granted('ROLE_ADMIN') %}<td><a href="/modifyGame/{{game.id}}">Edytuj</a></td><td><a href="/deleteGame/{{game.id}}">usuń</a></td>{% endif %}
</tr>
{%endfor%}
</table>
    <a href ="{{ path('homepage') }}">wróć do głównej</a>
{% endblock %}
