{% extends "base.html.twig" %}

{% block title %}AppBundle:Game:showTeamGames{% endblock %}

{% block body %}
<h1>Welcome to the Game:showTeamGames page</h1>
{%for game in allTeamGames%}
{% if game.result is not null %}
Gospodarz: {{game.homeTeam}}<br>
Gość: {{game.awayTeam}}<br>
Wynik: {{game.scoreHome}} : {{game.scoreAway}}<br>

Sprawozdanie z meczu {{game.description}}<br>
<br>
{%else%}

<i>mecz nierozegrany:</i><br>
Gospodarz: {{game.homeTeam}}<br>
Gość: {{game.awayTeam}}<br>
Wynik: {{game.scoreHome}} : {{game.scoreAway}}<br>

Sprawozdanie z meczu {{game.description}}<br>
<br>
{%endif%}
{%endfor%}
    <br>
    <a href ="{{ path('homepage') }}">wróć do głównej</a>
{% endblock %}
