{% extends "base.html.twig" %}

{% block title %}AppBundle:team:showAllTeams{% endblock %}

{% block body %}
<h1>Welcome to the team:showAllTeams page</h1>
<table align="center" border="1" cellpadding="10">
<tr>
<th> nazwa</th>
<th>logo</th>
    <th>szczegóły</th>
<th>lista gier</th>
    {%  if is_granted('ROLE_ADMIN') %}<th>edytuj</th>{% endif %}
</tr>
{%for team in allTeams%}

<tr align="center">
<td>{{team.name}}</td>
<td><img src="{{ team.logo }}"> </td>
    <td><a href= "/showTeam/{{team.id}}">Pokaż</a></td>
<td><a href= "/showTeamGames/{{team.name}}">gry</a></td>
    {%  if is_granted('ROLE_ADMIN') %}  <td><a href= "/updateTeam/{{team.id}}">Edytuj zespół</a></td>{% endif %}
</tr>

{%endfor%}

</table>
    <a href ="{{ path('homepage') }}">wróć do głównej</a>
{% endblock %}
